<section class="form-container">
  <h1>Update <%= @musician.name %></h1>
    <%= form_for(@musician,url: musician_path) do |f| %>
    <div class="container-gray">
      <div class="input-field">
        <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
      </div>
      <div class="input-field">
        <%= f.text_field :genres, placeholder: "Genres", class: "form-control" %>
      </div>
      <div class="input-field">
        <%= f.text_field :influences, placeholder: "Influences", class: "form-control" %>
      </div>
      <div class="input-field">
        <%= f.text_field :bio, placeholder: "Bio", class: "form-control" %>
      </div>
      <div class="input-field">
        <%= f.text_field :zip_code, placeholder: "Zip Code", class: "form-control" %>
      </div>
       <div class="input-field">
        <%= f.text_field :image, placeholder: "Image", class: "form-control" %>
      </div>     
      <div class="input-field">
        <%= f.text_field :audio_clip, placeholder: "Audio Clip", class: "form-control" %>
      </div>
      <div class="input-field">
        <%= f.text_field :gear, placeholder: "Gear", class: "form-control" %>
      </div>
      <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>