<div class="content-white">

  <section class="profile-action">

    <div class="profile-image">
      <%= image_tag @musician.photo.url(:medium) %>
    </div>

    <a class="button" href="mailto:<%= @musician.email %>">Send Message</a>

    <%= link_to 'Add to My Band', edit_band_instrument_musician_path, class: 'button' %>

    <div class ='toggle btn_show'>
        <% if @musician.mp3? %>
          <audio controls>
            <source src="<%= @musician.mp3 %>" type="audio/mpeg">
          </audio>
        <% else %>
          <p class="no-audio">Edit your profile to add audio</p>
        <% end %>
      </div>

  </section>

  <section class="profile-info">

  <%= form_for(@musician,url: musician_path) do |f| %>
    <p class='toggle btn_hide'>Change photo: <%= f.file_field :photo %></p>
    <h1 class="profile-title"><%= f.text_field :name, placeholder: "Name", class: 'value' %></h1>
    <p><%= f.text_area :genres, placeholder: "Genres", class: 'value' %></p>
    <p><%= f.text_area :influences, placeholder: "Influences", class: 'value' %></p>
    <p><%= f.text_area :bio, placeholder: "Bio", class: 'value' %></p>
    <p><%= f.text_field :zip_code, placeholder: "Zip Code", class: 'value' %></p>
    <p><%= f.text_area :gear, placeholder: "Gear", class: 'value' %></p>
    <p>Upload audio:<br /> <%= f.file_field :mp3, class: 'mp3-button' %></p>

    <p>
      <strong>Instruments: </strong></br>
      <%= f.collection_check_boxes( :instrument_ids, Instrument.all, :id, :instrument_name, {:prompt => "Please Select a Sector"}, {:multiple => true}) %>
    </p>


  <% if current_musician == @musician %>
    <p><%= link_to "Save", "javascript:save_form()", class: 'button' %></p>
    <p><%= link_to 'Cancel', :back, class: 'button'  %></p>
    <% end %>
  <%end%>
  </div>
</section>
