<p><%= link_to 'find a musician by instrument', instruments_path %></p>

<% @musicians.each do |musician| %>
<div>
  <%= image_tag musician.photo(:thumb) %>
  <p><%= link_to musician.name, musician_path(musician) %></p>
  <p><%= musician.genres %></p>
  <p><%= musician.bio %></p>
</div>
<% end %>
