<p><%= @musician.name %></p>
<p><%= @musician.genres %></p>
<p><%= @musician.influences %></p>
<p><%= @musician.bio %></p>
<p><%= @musician.zip_code %></p>
<p><%= @musician.image %></p>
<p><%= @musician.audio_clip %></p>
<p><%= @musician.gear %></p>