<div class="content-white">

  <div class="float-fix">
    <section class="profile-action">

      <div class="profile-image">
        <%= image_tag @musician.photo.url(:medium) %>
      </div>

      <% if current_musician == @musician %>
        <p><%= link_to 'Edit', edit_musician_path, class: 'button' %></p>
      <% else %>
        <a class="button" href="mailto:<%= @musician.email %>">Send Message</a>
      <% end %>



      <%= link_to 'Add to My Band', edit_band_instrument_musician_path, class: 'button' %>

      <div class ='toggle btn_show'>
          <% if @musician.mp3? %>
            <audio controls>
              <source src="<%= @musician.mp3 %>" type="audio/mpeg">
            </audio>
          <% end %>
          <% if current_musician == @musician %>
            <p class="no-audio">Edit your profile to add audio</p>
          <% end %>
      </div>

    </section>

    <section class="profile-info">

      <h1 class="profile-title"><%= @musician.name %></h1>

      <p><%= @musician.genres %></p>

      <p><%= @musician.influences %></p>

      <p><%= @musician.bio %></p>

      <p><%= @musician.zip_code %></p>

       <div>
        <strong>Instruments: </strong>
        <% @musician.instruments.each do |instrument| %>
          <%= link_to instrument.instrument_name, instrument_path(instrument) %>
        <% end %>
      </div>

      <div>
        <p>
          <strong>Bands I own: </strong>
          <% @musician.bands.each do |band| %>
            <%= link_to band.band_name, band_path(band) %>
          <% end %>
        </p>
      </div>

      <div>
        <p><strong>Bands I'm in: </strong>
          <% @memberships.each do |membership| %>
            <%= link_to membership.band.band_name, band_path(membership.band) %> - <%= membership.instrument.instrument_name %>
          <% end %>
        </p>
      </div>

    </section>
  </div>


    <% if current_musician == @musician %>
      <p><%= link_to 'Create Band', new_band_path, class: 'button create-band-button' %></p>
    <% end %>

</div>
