<div class="content-white">

  <div class="float-fix">
    <section class="profile-action">

      <div class="profile-image">
        <%= image_tag @musician.photo.url(:medium) %>
      </div>

      <% if current_musician == @musician %>
        <%= link_to 'Edit Profile', edit_musician_path, class: 'button musician-button' %>
        <%= link_to 'Delete Profile', musician_path, method: :delete, class: 'button musician-button', data: { confirm: 'Are you sure you want to delete your profile?' } %>
      <% else %>
        <a class="button musician-button" href="mailto:<%= @musician.email %>">Send Message</a>
      <% end %>

      <div><%= link_to 'Add to My Band', edit_band_instrument_musician_path, class: 'button musician-button' %></div>

      <div class ='audio-container'>
       <% if @musician.mp3? %>
         <audio controls>
           <source src="<%= @musician.mp3 %>" type="audio/mpeg">
         </audio>
       <% else %>
         <% if current_musician == @musician %>
           <p class="no-audio">Edit your profile to add audio</p>
         <% end %>
       <% end %>
      </div>

    </section>

    <section class="profile-info">

      <h1 class="profile-title"><%= @musician.name %></h1>
      <p><span class="profile-label">Genres:</span> <%= @musician.genres %></p>
      <p><span class="profile-label">Influences:</span> <%= @musician.influences %></p>
      <p><span class="profile-label">Bio:</span> <%= @musician.bio %></p>
      <p><span class="profile-label">Zip Code:</span> <%= @musician.zip_code %></p>
      <p><span class="profile-label">Gear:</span> <%= @musician.gear %></p>

      <div class="instruments-container">
        <p>
          <span class="profile-label">Instruments: </span>
          <ul class="no-bullet instrument-list">
            <% @musician.instruments.each do |instrument| %>
            <li><%= link_to instrument.instrument_name, instrument_path(instrument) %></li>
            <% end %>
          </ul>
        </p>
      </div>

      <div class="my-bands-container">
        <p>
          <span class="profile-label">Bands I own: </span>
          <ul class="no-bullet">
            <% @musician.bands.each do |band| %>
              <li><%= link_to band.band_name, band_path(band) %></li>
            <% end %>
          </ul>
        </p>
      </div>

      <div class="band-membership-container">
        <p>
          <span class="profile-label">Bands I'm in: </span>
          <ul class="no-bullet">
            <% @memberships.each do |membership| %>
              <li><%= link_to membership.band.band_name, band_path(membership.band) %> - <%= membership.instrument.instrument_name %></li>
            <% end %>
          </ul>
        </p>
      </div>

      <% if current_musician == @musician %>
        <p><%= link_to 'Create Band', new_band_path, class: 'button musician-button' %></p>
      <% end %>

    </section>
  </div>


</div>
