<div class="content-white">

  <div class="float-fix">
    <section class="profile-action">

      <div class="profile-image">
        <%= image_tag @band.photo.url(:medium) %>
      </div>

      <% if current_musician == @band.owner %>
        <p><%= link_to 'Edit Profile', edit_band_path, class: 'button' %></p>
        <p><%= link_to 'Delete Profile', band_path, class: 'button', method: :delete, data: { confirm: 'Are you sure you want to delete this band?' } %></p>
      <% else %>
        <a class="button" href="mailto:<%= @band.owner.email %>">Send Message</a>
      <% end %>

      <div class ='toggle btn_show'>
          <% if @band.mp3? %>
            <audio controls>
              <source src="<%= @band.mp3 %>" type="audio/mpeg">
            </audio>
          <% else %>
            <% if current_musician == @band.owner %>
              <p class="no-audio">Edit your profile to add audio</p>
            <% end %>
          <% end %>
      </div>

    </section>

    <section class="profile-info">

      <h1 class="profile-title"><%= @band.band_name %></h1>

      <p><span class="profile-label">Genres:</span> <%= @band.genres %></p>

      <p><span class="profile-label">Influences:</span> <%= @band.influences %></p>

      <p><span class="profile-label">Bio:</span> <%= @band.bio %></p>

      <p><span class="profile-label">Zip Code:</span> <%= @band.zip_code %></p>

      <p><span class="profile-label">Gear:</span> <%= @band.gear %></p>

      <h3>Members:</h3>
      <% @members.each do |m| %>
        <p>
          <%= link_to m.musician.name, musician_path(m.musician) %> - <%= m.instrument.instrument_name %>
          <% if current_musician == @band.owner %>
            <%= link_to 'delete', band_instrument_musician_path(:member_id => m.id), method: :delete, class: 'delete-button' %>
          <% end %>
        </p>
      <% end %>

      <div class="band-membership-container">
        <h3>Openings:</h3>
        <% @openings.each do |o| %>
          <p>
            <%= o.instrument.instrument_name %>
            <% if current_musician == @band.owner %>
              <%= link_to 'delete', band_instrument_musician_path(:member_id => o.id), method: :delete, class: 'delete-button' %>
            <% end %>
          </p>
        <% end %>
      </div>

      <% if current_musician == @band.owner %>
        <p><%= link_to 'Add Opening', new_band_instrument_musician_path, class: 'button create-band-button' %></p>
      <% end %>

    </section>
  </div>


</div>
