<!DOCTYPE html>
<html>
  <head>
    <title>Bandapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= mp3_player_headers %>
  </head>

  <body>

    <!-- Start Nav -->
    <nav>
      <div class="wrap">
        <a href="/" class="nav-logo">BandApp</a>
        <ul>
          <li><%= link_to "Find A Musician", musicians_path %></li>
          <li><%= link_to "Find A Band", bands_path %></li>
        </ul>
        <ul class="account-nav">
          <% if current_musician %>
            <li><%= link_to "Profile", musician_path(current_musician) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Create Account", new_musician_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav><!-- End Nav -->

    <div class="wrap">

      <% if flash[:error] %>
      <div class="container small-container">
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      </div>
      <% end %>

      <% if flash[:success] %>
      <div class="container small-container">
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      </div>
      <% end %>

        <%= yield %>

    </div>

  <footer>&copy 2016 BandApp</footer>

  </body>
</html>
