<!DOCTYPE html>
<html>
  <head>
    <title>Bandapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="wrap">

  <% if flash[:error] %>
  <div class="container small-container">
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  </div>
  <% end %>

  <% if flash[:success] %>
  <div class="container small-container">
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  </div>
  <% end %>

    <%= yield %>

  </div>

  </body>
</html>
