<!DOCTYPE html>
<html>
  <head>
    <title>Bandapp</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Application Scripts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- MP3 Player -->
    <%= mp3_player_headers %>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>

  <body>

    <!-- Start Nav -->
    <nav>
      <div class="wrap">
        <a href="/" class="nav-logo">BandWagon</a>
        <ul>
          <li><%= link_to "Musicians", musicians_path %></li>
          <li><%= link_to "Bands", bands_path %></li>
        </ul>
        <ul class="account-nav">
          <% if current_musician %>
            <li><%= link_to "Profile", musician_path(current_musician) %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Create Account", new_musician_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav><!-- End Nav -->

    <div class="wrap">

      <% if flash[:error] %>
      <div class="container small-container">
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      </div>
      <% end %>

      <% if flash[:success] %>
      <div class="container small-container">
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      </div>
      <% end %>

        <%= yield %>

    </div>

  <footer>
      <p>&copy; 2016 BandWagon <span class="word-space">|</span> <%= link_to 'About Us', about_us_path %></p>
  </footer>




  </body>
</html>
